header, main {
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2rem;
   
}

button{
    font-size: .5em;
    
    
    background-color: green;
    color: aqua;
    
}
body{
    background-color: bisque;
}

